body, #sb-site {
    /* background: url('../img/bg.jpg') no-repeat center center fixed; ; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    color: white;
    background-color: #edecec;
}

.navbar {
    border-radius: 0px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    height: 65px;
}

.navbar-default {
    background-color: #4285f4;
    border-color: #4285f4;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 15pt;
    padding-top: 23px;
}

.fa-reorder {
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.3s;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    font-size: 15pt;
}

.bold {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}


/* Content Bar */

.dashboard {
    color: #777;
    font-size: 15px;
    font-weight: normal;
    padding-left: 22px;
    margin-bottom: 20px;
}

.contentbar {
    margin-top: 0px;
    color: black;
    padding: 0px 0px 0px 0px;
    background-color: white;
    min-height: 300px;
}

.contentbar-header {
    background-color: rgba(0, 0, 0, 1);
    height: 50px;
    color: white;
    padding: 15px 0px 0px 15px;
    font-size: 12pt;
    font-weight: bold;
}

.contentbar-body {
    padding : 25px 50px 0px 50px;
    background-color: white;
}

.contentbar-title, .contentbar-firstname {
    font-size: 14pt;
}

.contentbar-subtitle {
    color: #777;
    font-size: 10pt;
}

.contentbarevents {
    background-color: white;
    padding-top: 40px;
    padding-left: 90px;
    padding-bottom: 30px;
}

.fa-birthday-cake {
    color: #0172bc;
}

.fa-warning {
    color: darkred;
}

.event i {
    padding-right: 20px;
}

.event {
    padding-top: 15px;
}

@media only screen and (max-width: 500px) {
    .contentbar-body {
        height: 100%;
    }
}

/* Home Buttons Bar */
.buttongroup {
}

.buttongroup > div {
    padding: 20px;
    border-bottom: 5px solid #000000;
}

.buttongroup > div:nth-child(1) {
    border-left: none;
    background-color: #00bcd4;
}

.addthis {
    padding: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid #000000;
}


.buttongroup > div:nth-child(2) {
    border-left: none;
    background-color: #8bc34a;
}

.buttongroup > div:nth-child(3) {
    border-left: none;
    background-color: #ff9800 ;
}

.buttongroup > div:nth-child(4) {
    border-right: none;
    background-color: #607d8b;
}

.buttongroupicon {
    padding: 10px;
}

.buttonitself {
    padding-left: 20px;
}

.buttongroup div:hover {
    cursor: pointer;
}

/** Clock **/

.clockbar {
    margin-top: 10px;
    color: white;
    padding-right: 0px;
}

.clock:hover {
    cursor: pointer;
}

.clock-header {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.1);
}

.clock {
    padding: 0px;
    margin: 10px;
    margin-left: 0px;
    height: 140px;
    width: 120px;
    background-color: #009688;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.grading {
     padding: 0px;
    margin: 10px;
    margin-left: 0px;
    height: 140px;
    width: 120px;
    background-color: #ea003d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.grading:hover {
    cursor: pointer;
}

.datebig {
    font-size: 40pt;
    font-weight: bolder;

}

.datesmall {
    font-size: 12pt;
    font-weight: lighter;
}

.timebig {
    font-size: 60pt;
    font-weight: 900;
}

#monthword {
    -webkit-transform: translate(0px, -15px);

}

#dateword {
    -webkit-transform: translate(0px, -15px);
}

#hour {
    -webkit-transform: translate(0px, -20px);
}

#minute {
    font-size: 35pt;
    -webkit-transform: translate(-20px, 10px);
}

#seconds {
    -webkit-transform: translate(35px, -80px);
}

#ampm {
    -webkit-transform: translate(35px, -60px);
}

#gradingword {
    -webkit-transform: translate(0px, -15px);
}

/** Sidebar **/
.sidebar.left {
    margin-top: 65px;
    color: white;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.profile-footer {
    height: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 12pt;
}


.options {
    margin-top: 25px;
}

.options i {
    padding-left: 30px;
    padding-right: 13px;
}

.options > a > div {
    color: #777;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 14px;
}

.options a > div:hover, .options a:focus, .options a:active {
    background-color: #F4F4F4;
    color: #262626;
    cursor: pointer;
    text-decoration: none;
}

.options a:hover {
    text-decoration: none;
}

/** Forms **/
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

/** Modal **/
.modal-body {
    color: #000000;
    background-color: white;
    padding: 0px;
}

.modal-left {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-right-header {
    padding-top: 20px;
    font-size: 15pt;
    font-weight: lighter;
}

.modal-title {
    color: black;
}

.modal-left > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.modal-left > div:hover {
    cursor: pointer;
    background-color: #4285f4;
    color: white;
    font-weight: bolder;
}

.modal-selected-option {
     background-color: #4285f4;
     color: white;
     font-weight: bolder;
}

#changeGradingForm {
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn:focus, .btn:active:focus, .btn:active {
    outline: none;
    outline-offset: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #00bcd4;
    border: 1px solid #00bcd4;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:focus {
    background-color: #607d8b;
    border: 1px solid #607d8b;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus {
    background-color: #ea003d;
    border: 1px solid #ea003d;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus {
    background-color: #4285f4;
    border: 1px solid #4285f4;
}