{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>

<span id="tableassessmentsview">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>VIEW ASSESSMENT</th>
            <th>ASSESSMENT NAME</th>
            <th>TOTAL</th>
            <th>ASSESSMENT TYPE</th>
            <th>GRADING PERIOD</th>
            <th>DATE PERFORMED</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for assessment in assessments %}
            <tr id="trassessment{{ assessment.id }}">
                <td><i onclick='goToAssessment({{ assessment.id }})' class='fa fa-apple fa-2x'></i></td>
                <td>
                    <input id="tdassessmentinputname{{ assessment.id }}" type="text" class="form-control assessmentinput hidden">
                    <span id="tdassessmenttextname{{ assessment.id }}" class="tdassessmenttext">{{ assessment.name }}</span>
                </td>
                <td>
                    <input id="tdassessmentinputtotal{{ assessment.id }}" type="number" class="form-control assessmentinput hidden">
                    <span id="tdassessmenttexttotal{{ assessment.id }}" class="tdassessmenttext">{{ assessment.total }}</span>
                </td>
                <td>
                    <select id="tdassessmentinputselect{{ assessment.id }}" class="form-control assessmentinput hidden">
                        <option value="0" disabled="disabled" selected="selected">Assessment Type</option>
                        <option value="1">Written Works</option>
                        <option value="2">Performance Tasks</option>
                        <option value="3">Quarterly Exams</option>
                    </select>
                    <span id="tdassessmenttexttype{{ assessment.id }}" class="tdassessmenttext">{{ assessment.assessmenttype.type }}</span>
                </td>
                <td>{{ assessment.grading_period }}</td>
                <td>{{ assessment.date }}</td>
                <td>
                    <i id="assessmentsavebutton{{ assessment.id }}" class='fa fa-save fa-2x hidden savebutton' onclick='saveAssessment({{ assessment.id }})'></i>
                    <i id="assessmenteditbutton{{ assessment.id }}" class='fa fa-edit fa-2x editbutton' onclick='editAssessment({{ assessment.id }})'></i>
                    <i class='fa fa-remove fa-2x removebutton' onclick='deleteAssessment({{ assessment.id }})'></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="assessmentspinnerspinner" class="col-xs-12 text-center hidden"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
</span>