{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>


<span id="tablerecordview">
    <table class="table table-striped">
        <thead>
            <th>STUDENT NAME</th>
            <th>SCORE</th>
            <th>TOTAL</th>
            <th>GRADE</th>
            <th>STATUS</th>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.student.last_name }}, {{ record.student.first_name }} {{ record.student.middle_name }}</td>
                <td>
                    <input id="tdrecordinput{{ record.id }}" class="hidden form-control tdrecordinput" type="number" value="{{ record.score }}">
                    <span id="tdrecordspan{{ record.id }}" class="tdrecordspan">{{ record.score }}</span>
                </td>
                <td>{{ total }}</td>
                <td class="tdrecordspangrade"></td>
                <td class="tdrecordspanstatus"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</span>