{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>
<hr>
<span id="tablesectionview">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>VIEW SECTION</td>
            <td>SECTION NAME</td>
            <td>SECTION SUBJECTS</td>
            <td>ACTION</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <i onclick="" class="fa fa-apple fa-2x"></i>
            </td>
            <td>SECTION 1</td>
            <td>Subject 1, Subject 2, Subject 3</td>
            <td>
                <i class="fa fa-save fa-2x hidden savebutton" onclick=""></i>
                <i class="fa fa-edit fa-2x editbutton" onclick=""></i>
                <i class="fa fa-remove fa-2x removebutton" onclick=""></i>
            </td>
        </tr>
        <tr>
            <td>
                <i onclick="" class="fa fa-apple fa-2x"></i>
            </td>
            <td>SECTION 1</td>
            <td>Subject 1, Subject 2, Subject 3</td>
            <td>
                <i class="fa fa-save fa-2x hidden savebutton" onclick=""></i>
                <i class="fa fa-edit fa-2x editbutton" onclick=""></i>
                <i class="fa fa-remove fa-2x removebutton" onclick=""></i>
            </td>
        </tr>
        <tr>
            <td>
                <i onclick="" class="fa fa-apple fa-2x"></i>
            </td>
            <td>SECTION 1</td>
            <td>Subject 1, Subject 2, Subject 3</td>
            <td>
                <i class="fa fa-save fa-2x hidden savebutton" onclick=""></i>
                <i class="fa fa-edit fa-2x editbutton" onclick=""></i>
                <i class="fa fa-remove fa-2x removebutton" onclick=""></i>
            </td>
        </tr>
        </tbody>
    </table>
</span>