{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>
<span id="tablesectionview">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>VIEW SECTION</td>
            <td>SECTION NAME</td>
            <td>SCHOOL YEAR</td>
            <td>ACTION</td>
        </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr id="trsection{{ section.id }}">
                <td>
                    <i onclick="" class="fa fa-apple fa-2x"></i>
                </td>
                <td>
                    <input id="tdsectionnameinput{{ section.id }}" class="hidden tdsectionnameinput form-control">
                    <span id="tdsectionname{{ section.id }}" class="tdsectionname">{{ section.name }}</span>
                </td>
                <td>
                    <span>{{ section.school_year }}</span>
                </td>
                <td>
                    <i id="savesectionbutton{{ section.id }}" class="fa fa-save fa-2x hidden savesectionbutton" onclick="saveSection({{ section.id }})"></i>
                    <i id="editsectionbutton{{ section.id }}" class="fa fa-edit fa-2x editsectionbutton" onclick="editSection({{ section.id }})"></i>
                    <i class="fa fa-remove fa-2x removebutton" onclick="removeSection({{ section.id }})"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="sectionspinner" class="col-xs-12 text-center hidden"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
</span>