{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/formcontrol.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>

<div class="col-xs-12 text-center"><h1 class="contenttitle">Manage Students @ {{ class.name }} | {{ class.section }}</h1><hr></div>
<div class="col-xs-12 classmenutab">
    <span class="form-inline">
        <span id="addstudentform">
            <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
        </div>
        </span>
        <div class="form-group">
            <button id="addstudentbutton" type="button" onclick="addStudent({{ class.id }})" class="btn btn-primary">Add Student</button>
        </div>
        <span class="pull-right">
            <div class="form-group">
                <input type="button" onclick="viewAssessment({{ class.id }})" class="btn btn-danger" value="Assessments">
            </div>
            <div class="form-group">
                <input type="button" onclick="viewGrades({{ class.id }})" class="btn btn-success" value="Students' Grades">
            </div>
        </span>
    </span>
    <div class="col-xs-offset-3 col-xs-6">
        <div class="alert alert-danger text-center animated hidden alert-student-invalid">
            <span>Please fill out all inputs.</span>
        </div>
    </div>
    <div class="col-xs-12 clearfix"><hr></div>
</div>
<div id="studenttable" class="col-xs-12">
    <table id="myStudentsTable" class="table table-responsive">
        <thead>
        <tr>
            <th>LAST NAME</th>
            <th>FIRST NAME</th>
            <th>COMMAND</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr id="trstudent{{ student.id }}">
                <td>
                    <span class="tdlastname{{ student.id }} tdstudent">{{ student.last_name }}</span>
                    <input id="inputlastname{{ student.id }}" class="form-control hidden inputs studentinputs">
                </td>
                <td>
                    <span class="tdfirstname{{ student.id }} tdstudent">{{ student.first_name }}</span>
                    <input id="inputfirstname{{ student.id }}" class="form-control hidden inputs studentinputs"></td>
                <td>
                    <i id="buttonsavestudent{{ student.id }}" onclick="saveStudent({{ class.id }}, {{ student.id }})" class="button-save fa fa-save fa-2x fa-fw hidden"></i>
                    <i id="buttoneditstudent{{ student.id }}" onclick="editStudent({{ student.id }}, '{{ student.first_name }}', '{{ student.last_name }}')" class="button-edit fa fa-edit fa-2x fa-fw"></i>
                    <i id="buttonremovestudent{{ student.id }}" onclick="removeStudent({{ class.id }}, {{ student.id }});" class="button-remove fa fa-close fa-2x fa-fw"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>