{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>

<span id="tablestudentsview">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>LAST NAME</th>
            <th>FIRST NAME</th>
            <th>MIDDLE INITIAL</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.last_name }}</td>
                <td>{{ student.first_name }}</td>
                <td>
                    <i class="fa fa-save"></i>
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-remove"></i>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>Vallinas</td>
                <td>Lemuel Jay</td>
                <td>V.</td>
                <td>
                    <i class="fa fa-save fa-2x hidden"></i>
                    <i class="fa fa-edit fa-2x"></i>
                    <i class="fa fa-remove fa-2x"></i>
                </td>
            </tr>
            <tr>
                <td>Baluarte</td>
                <td>Zoeamar</td>
                <td>T.</td>
                <td>
                    <i class="fa fa-save fa-2x hidden"></i>
                    <i class="fa fa-edit fa-2x"></i>
                    <i onclick="removeStudent({{ student.id }})" class="fa fa-remove fa-2x"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="studentspinnerspinner" class="col-xs-12 text-center hidden"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
</span>