{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>

<span id="tablestudentsview">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>LAST NAME</th>
            <th>FIRST NAME</th>
            <th>MIDDLE INITIAL</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
             <tr id="trstudent{{ student.id }}">
                <td>
                    <input type='text' class='hidden form-control tdstudentinput' name='tdstudentinputlastname{{ student.id }}'>
                    <span id='tdstudentspanlastname{{ student.id }}' class='tdstudentspan'>{{ student.last_name }}</span>
                </td>
                <td>
                    <input type='text' class='hidden form-control tdstudentinput' name='tdstudentinputfirstname{{ student.id }}'>
                    <span id='tdstudentspanfirstname{{ student.id }}' class='tdstudentspan'>{{ student.first_name }}</span>
                </td>
                <td>
                    <input type='text' class='hidden form-control tdstudentinput' name='tdstudentinputmiddlename{{ student.id }}'>
                    <span id='tdstudentspanmiddlename{{ student.id }}' class='tdstudentspan'>{{ student.middle_name }}</span>
                </td>
                <td>
                    <i id='saveStudentButton{{ student.id }}' onclick="saveStudent({{ student.id }})" class="fa fa-save fa-2x hidden"></i>
                    <i id='editStudentButton{{ student.id }}' onclick="editStudent({{ student.id }})" class="fa fa-edit fa-2x"></i>
                    <i id='removeStudentButton{{ student.id }}' onclick="removeStudent({{ student.id }})" class="fa fa-remove fa-2x"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="studentspinnerspinner" class="col-xs-12 text-center hidden"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
</span>