{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sort.js' %}"></script>

<span id="tableclassesview" class="classesview">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>VIEW SUBJECT</th>
            <th>SUBJECT NAME</th>
            <th>SECTION</th>
            <th>SUBJECT TYPE</th>
            <th>SCHOOL YEAR</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr id="tr{{ subject.id }}">
                <td class="">
                    <i onclick="viewSubject({{ subject.id }});" class="fa fa-apple fa-2x"></i>
                </td>
                <td>
                    <input class="hidden form-control tdinput" value="{{ subject.name }}">
                    <span class="tdtext">{{ subject.name }}</span>
                </td>
                <td>
                    <select class="hidden form-control section-drop-down tdselect"></select>
                    <span id="td{{ subject.id }}sectionid" class="hidden sectionid">{{ subject.section.id }}</span>
                    <span class="tdtext sectionname">{{ subject.section.name }}</span>
                </td>
                <td>
                    <select class="hidden form-control subject-type-drop-down tdselect"></select>
                    <span id="td{{ subject.id }}subjecttypeid" class="hidden subjecttypeid">{{ subject.subject_type.id }}</span>
                    <span class="tdtext subjecttypename">{{ subject.subject_type.name }}</span>
                </td>
                <td>
                    <span class="tdschoolyear">{{ subject.school_year }}</span>
                </td>
                <td>
                    <i id="savebutton{{ subject.id }}" class="fa fa-save fa-2x hidden savebutton" onclick="saveSubject({{ subject.id }});"></i>
                    <i id="editbutton{{ subject.id }}" class="fa fa-edit fa-2x editbutton" onclick="editSubject({{ subject.id }});"></i>
                    <i class="fa fa-remove fa-2x" onclick="removeSubject({{ subject.id }});"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="spinner" class="col-xs-12 text-center hidden"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
</span>


