 <!-- Homebutton Bar -->
    <div class="homebuttonbar-header container">DASHBOARD</div>
    <div class="container">

        <div class="row buttongroup text-center">
            <div id="mansub" class="col-xs-12 col-md-3 hvr-sweep-to-right ">
                <span class="">
                <span class="buttongroupicon"><i class="fa fa-book fa-2x"></i></span>
                <span class="buttonitself"><span class="bold">Manage</span> Subject</span>
                </span>
            </div>
            <div id="mansec" class="col-md-3 col-xs-12 hvr-sweep-to-right">
                <span class="">
                <span class=""><i class="fa fa-commenting fa-2x"></i></span>
                <span class="buttonitself"n><span class="bold">Manage</span> Sections</span>
                </span>
            </div>
            <div id="viewgrad" class="col-md-3 col-xs-12 hvr-sweep-to-right">
             <span class="">
                <span class=""><i class="fa fa-calculator fa-2x"></i></span>
                <span class="buttonitself"><span class="bold">View</span> Grades</span>
                </span>
            </div>
            <div id="recgrad" class="col-md-3 col-xs-12 hvr-sweep-to-right">
                <span class="">
                <span class=""><i class="fa fa-check-square-o fa-2x"></i></span>
                <span class="buttonitself"><span class="bold">Record</span> Grades</span>
                </span>
            </div>
        </div>
    </div>